textarea {
  height: 70px;
}

.form-group {
  margin-bottom: 2rem;
} 

.bg-light {
  background-color: #fff!important;
}

.branding {
  margin-right: 0.75rem;
  margin-top: -0.25rem;
  width: 24px;
  height: 30px;
}

.branding-footer {
  width: 40px;
  height: 50px;
}

.text-red {
  color: #dc3545;
}

.text-small {
  font-size: 12px;
}

.navbar-toggler {
  border: none;
}
