.branding {
  margin-right: 0.75rem;
  margin-top: -0.25rem;
  width: 24px;
  height: 30px;
}

.branding-footer {
  width: 40px;
  height: 50px;
}

.text-red {
  color: #dc3545;
}

.navbar-toggler {
  border: none;
}

.bg-light {
  background-color: #fff!important;
}

#user-display {
  margin-bottom: 0;
  font-size: 12px;
}

#data {
  height: 70px;
}

/* .btn-sm {
  padding: .15rem .5rem;
  font-size: .8rem;
}
*/
.form-group {
  margin-bottom: 2rem;
} 